body{
   background-color:rgb(236, 254, 251);;
   
}

h1, h4{
    display:flex;
    color: rgb(187, 139, 49);
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.detail_body{
    
    margin-left: 20vw;
    margin-right: 20vw;
}

.navbar-item{
    color: rgb(136, 123, 48);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.sent_message{
    background-color: rgb(130, 208, 228);
    border-radius: 5px;
    padding: 10px 25px;
    width: 25%;
    margin-bottom: 10px;

}
.received_message{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px 25px;
    width: 25%;
    margin-bottom: 10px;
}

.navbar{
    background: rgb(236,254,251);
    background: linear-gradient(0deg, rgba(236,254,251,1) 0%, rgba(21,186,176,1) 64%);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
}

.item_card{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 60, 26);

}

.container {
    padding: 40px;
    padding-right: 0;
  }

.picture{
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    
}

.deetpicture{
    height: 25%;
    width: 25%;
    border-radius: 5px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
  }

.photo{
    display: flex;
    justify-content: center;
    
}

.deetspan{

    display:flex;
    justify-content: center;

}

.paragraph{
    margin-left: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 60, 26);
  

}


.all_card p{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 60, 26);
}

nav.active ul {
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }


  
nav ul {
    width: 100%;
    list-style-type: none;
    position: relative;
    right: 100px;
    background-color: rgb(21,186,176);
    width: 450px;
    display: flex;
    transition: transform 0.6s linear, opacity 0.6s linear;
    
  }
  
nav.active ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
    color: white;
    list-style-type: none;
  
  
  }

  
nav ul li {
    transform: rotateY(0deg);
    opacity: 1;
    list-style-type: none;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
nav ul a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
  }

.form{
    display: flex;
    justify-content: center;
}
.onebutton{
    display: flex;
    justify-content: center;
    background-color: rgb(252, 224, 146);
    color: rgb(168, 126, 77);
    border: none;
    border-radius: 3px;
    box-shadow: rgba(107, 105, 105, 0.15) 1.95px 1.95px 2.6px;
}

.onebutton:hover{
    display: flex;
    justify-content: center;
    background-color: rgb(252, 248, 248);
    border: none;
}
.onebutton.active{
    display: none;
    
}

.filter{
    display: none;

}

.filter.active{
    display: flex;
    justify-content: center;

}


  
.icon {
    background-color: rgb(21,186,176);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
  }

.icon.active{
    transition: 0.9s;
    transform: rotateY(180deg)
  }
  
.icon:focus {
    outline: 0;
  }

.list .item_card:hover {
    transform: scale(1.1);
    z-index: 10;
  }


.notification-badge{
      transition: 0.3s;
  }
.notification-badge:hover {
      cursor: pointer;
      opacity: 0.75;
      transition: 0.3s;
  }

.dropdown{
      position: relative;
      display: inline-block;

}
.post{
    margin-left: 130px;
}

.edit-button{
    background-color: white;
    border: 1px gray;

}

.frame{
    background-image: url('static/images/frame.png');
}

.homeicon{
    height: 400px;
    width: 400px;
    border-radius: 5px

}
.home{
    /* background-color: rgba(250, 167, 185, 0.781); */
    background-color:rgb(253, 215, 183);
}
.center{
    display: flex;
    justify-content: center;
}

.dropdown-content{
    position: absolute;
    right: 20px;
    background-color: #f1f1f1;
    min-width: 325px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown-item-parent{
    position: relative;
    display: block;
}

.dropdown-item-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover{
   color: red;
   transition: 0.3s;
   cursor: pointer;
}

.inbox-icon.container{
    margin-right: 15px;

}

.inbox.icon{
    transition: 0.5s;

}

.inbox.icon:hover{
    cursor: pointer;
}
