body{
    background-color: rgb(212, 241, 245);
}

h1{
    display:flex;
    color: red;
    justify-content: center;
}

.navbar-item{
    color: black;
    text-decoration: none;
    text-align: center;
}

