{% extends 'base.html' %}

{% block content %}
<h1> What is I Do Two?</h1>
<div class="about">
<p>I Do Two is a place where brides or grooms can come together and help reduce the cost and waste that comes with planning a wedding. As former brides ourselves, we felt completely overwhelmed with the amount of resources scattered about that never could be consolodated. We noticed a few group forums here and there, but they lacked the centralized locations to help brides far and wide. We allow brides to easily resale decor items, apparel, and even give resources to future brides who may need help navigating the daunting task.</p>
</div>
{% endblock%}