{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <script src="{% static 'script/main.js' %}" defer></script>
    <title> {% block title %} I Do {% endblock%}</title>
</head>
<body>
    {% if user.is_authenticated %}
    
 <nav class="active navbar" id="nav">
    
    <a class=" navbar-item right_side_nav" href="{% url 'logout'%}">Logout</a>
    <span>
    <button class="icon" id="toggle">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </button>
    <span class="navbar-item"> Welcome: {{user.username}}</span>
    <ul>
        <li><a class ='navbar-item'  id='toggle' href="/about">About</a></li>
        <li><a class ='navbar-item' href="/items/new">Post</a></li>
        <li><a class ='navbar-item' href="/items/">Items</a></li>
        <li><a class ='navbar-item' href="/inbox/">Inbox</a></li>
        <li><a class="navbar-item" href="{% url 'edit_profile'%}">Edit Profile</a>
    </ul>
</span>
       
       
</nav>
        {% else %}
        <div class="navbar-item">
            <a class="navbar-item" href="{% url 'login'%}">Login</a>
            <a class="navbar-item" href="{% url 'signup'%}">Create a New Account</a>
        </div>
        {% endif %}

    </nav>
    <div class="'container">

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>