{% extends 'base.html' %}

{% block content %}
<h1> {{ header }} </h1>

<form class="search" method="get">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="title" placeholder="title" />
      </div>
      <div class="control">
        <input class="button" type="submit" value="Search" />
      </div>
    </div>
    <a class="button" href="{% url 'items_list' %}">Clear Search</a>
  </form>
<div class="list">
{% for item in items%}
<div class="item_card">
    <div class="all_card">
        <hr>
        <a href="{% url 'post_detail' item.pk%}">
        {% if item.photos %}
        <div class="photo">
            <img class="picture" src="{{ item.photos.url }}"></div>
        {% endif %}
        <p><strong>{{item.title}} </strong> by {{item.user}} </p> 
        </a>
            <p>@ {{item.created_on}}</p> 
            {{item.city}} ||
                {{item.description | slice:":75"}}...
    </div>
</div>


{% empty %}
<h2> No Items for Sale Yet</h2>
{% endfor %}
</div>

{% endblock %}