{% extends 'base.html' %}

{% block content %}
<h1 class="item_title">{{item.title}}</h1>
    

    {% if item.photos %}
    <div class="photo"><img class="picture" src="{{ item.photos.url }}"></div>
    {% endif %}
    <br/><br/>
    <div class=" detail_body">
    <small> by @<a class="post_author" href='{% url "profile" %}'>{{item.user}}</a></small><br/>
    Price: ${{item.price}} || Location: {{item.city}}
    
    
    <p>
        Shipping available? 
        {% if item.shipping == True%} 
            Yes
        {% else%}
            No
    </p>
        {% endif %}
        <p>Description: {{item.description}}</p>
<br/>
{{user.id}}
{{item.user.id}}

<hr>
<br/>

<h2>Comments</h2>

{% if not item.comments.all%}
No Comments Yet... <a href="{% url 'comment' item.pk %}">Add Comment</a>

{% else %}
<a href="{% url 'comment' item.pk %}">Add Comment</a><br/><br/><br/><br/>
    {% for comment in item.comments.all %}
        {{user.username}} - <strong>{{comment.created_on}}</strong> <br/>
        {{comment.body}}
        <hr><br/>
    {% endfor %}
    <a href="{% url 'comment' item.pk %}">Add Comment</a><br/><br/>
{% endif %}
<br/><br/>
</div>

<br/>

    {% if user.id == item.user.id %}

        <div><a href='{% url "post_update" item.pk %}'>Edit This Listing</a></div>
        <div><a href='{% url "post_delete" item.pk %}'>Delete This Listing</a></div>

    {% endif %}
<div>
<a href="{%url 'items_list'%}">Back to List Page</a>
</div>
{% endblock %}