{% extends 'base.html'%}

{% block content %}

<span >
<button  class="edit-button mt-3"><a class="navbar-item" href="{% url 'edit_profile'%}">Edit Profile</a></button>
<h1>{{user}}'s Current Listed Items</h1>
</span>

{% for item in items %}
    
    {% if user.id == item.user.id %}
    <div class="item_card">
        <div class="all_card">
            <hr>
            <a href="{% url 'post_detail' item.pk%}">
            {% if item.photos %}
            <div class="photo">
                <img class="picture" src="{{ item.photos.url }}"></div>
            {% endif %}
            <p><strong>{{item.title}} </strong> &nbsp; by {{item.user}} </p> 
            </a>
                <p>@ {{item.created_on}}</p> 
                {{item.city}} ||
                    {{item.description | slice:":75"}}...
        </div>
    </div>

    {% endif %}

{% endfor %}


{% endblock %}